*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-one: #4c5e19;
    --text-color-two: black;
    --background-color: #f2ccb9;
    --border-color: black;
    --header-footer-color: #FFFFFF;
}

body {
    color: var(--text-color-one);
    font-family: sans-serif;
    background-color: var(--background-color);
}

/*header style start*/
 header {
     padding: 15px;
     background-color: var(--header-footer-color);
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 header h1 {
     font-size: 45px;
     font-weight: bold;
     color: var(--text-color-one);
     margin: 0;
 }

 header a {
     text-decoration: none;
     color: var(--text-color-one);
 }

 header nav {
     margin: 10px 0;
     padding: 0;
     box-sizing: border-box;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 header nav ul li a{
     margin: 0 30px;
     font-weight: lighter;
     font-size: 25px;
     border-bottom: 2px solid;
     padding-bottom: 2px;
 }

 header nav ul li a:hover {
     background-color: var(--background-color);
 }

 /*hero style start*/
 .hero {
     background-image: url("../images/new.jpg");
     background-size: cover;
     background-position: center;
     display: flex;
     flex-wrap: wrap;
     padding-bottom: 50px;
 } 

 .profile-picture {
     position: relative;
     border: var(--text-color-one) 3px solid;
     top: 20px;
     left: 40px;
     height: 200px;
     width: 200px;
     border-radius: 70%;
 }

 .hero h2 {
 }

/*about me*/
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.flex-row {
    display: flex;
    justify-content: center;
}

.section-title {
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
    margin: 0 0 0 20px;
    width: 80%;
}

.border-one {
    border-right: 3px solid var(--text-color-one);
    height: 100px;
    flex: 0 1%;
}

.info-text {
    flex: 70%;
}

.info-text p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    margin-left: 50px;
    width: 100%
}

/*about me style end*/


/*work style start*/
.container {
    display: flex;
   
}

.container div {
   
}

.work-box {
  
}

.gallery {
    display: flex;
    flex-wrap: wrap
    ;
    width: 100%;
    height: auto;
}

.work {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}





/*contact me*/
.border-three {
    border-right: 3px solid var(--text-color-one);
    height: 100px;
    flex: 0 1%;
}
.contact-info {
    flex: 150;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin-left: 20px;
    padding-bottom: 2px;
}

.contact-info ul li a{
    margin: 0 40px;
    font-size: 20px;
    color: var(--text-color-one);
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

/*resume*/

 


