*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color-one: #4c5e19;
    --text-color-two: black;
    --background-color: #f2ccb9;
    --border-color: #f9f295;
    --header-footer-color: #FFFFFF;
}

body {
    color: var(--text-color-one);
    font-family: sans-serif;
    background-color: var(--background-color);
}

/*header style start*/
 header {
     padding: 25px;
     background-color: var(--header-footer-color);
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 header h1 {
     font-size: 45px;
     font-weight: bold;
     color: var(--text-color-one);
     margin: 0;
 }

 header a {
     text-decoration: none;
     color: var(--text-color-one);
 }

 header nav {
     margin: 10px 0;
     padding: 0;
     box-sizing: border-box;
 }

 header nav ul {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     list-style: none;
 }

 header nav ul li a{
     margin: 0 30px;
     font-weight: lighter;
     font-size: 25px;
     border-bottom: 2px solid;
     padding-bottom: 2px;
 }

 header nav ul li a:hover {
     background-color: var(--background-color);
 }









/*Work Style Start*/

.container {
   display: flex;;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.gallery {
    width: 20px

}




footer {
    padding: 25px;
    background-color: var(--header-footer-color);
    display: flex;
    justify-content: center;
}